
<style>
    .aside {
      width: 240px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background: #71aacb;
    }
    .aside li {
      list-style: none;
      height: 40px;
    }
    .aside a {
      text-decoration: none;
    }
    header {
      width: 100%;
      height: 50px;
      background-color:#e9e9e9;
    }
</style>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Family</title>
  </head>
  <body>
    <div class="aside">
      <ul>
        <li>
          <a href="/<%= process.env.BASE_URL %>/home">Home</a>
        </li>
        <li>
          <a href="/<%= process.env.BASE_URL %>/management">Management</a>
        </li>
      </ul>
    </div>
    <div id="app"></div>
  </body>
</html>